{% extends 'base.html.twig' %}


{% block contenu %}
{% if form.valide is defined %}
{% if form.valide == true %}
<h1>Inscription réussie</h1>
<h1>Voici votre identifiant : {{form.email}}</h1>
{% if form.role == 1 %}
<h1>Vous êtes administrateur du site</h1>
{% else %}
<h1>Vous êtes un client du site </h1>
{% endif %}
{% else %}
<h1>Echec de l'inscription</h1>
<h1>Erreur : {{form.message}}</h1>
<h1><a href="index.php?page=inscrire">Retourner sur la page d'inscription</a></h1>
{% endif %}
{% else %}
<form class="form-signin" action="index.php?page=inscrire" method="post" enctype="application/x-www-form- urlencoded">
    <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous sur SHOP-SHOP</h1>
    <label for="inputNom" class="sr-only">Nom:</label>
    <input type="text" id="inputNom" name="inputNom" class="form-control" placeholder="Nom" required autofocus>
    <label for="inputPrenom" class="sr-only">Email:</label>
    <input type="text" id="inputPrenom" name="inputPrenom" class="form-control" placeholder="Prénom" required>
    <label for="text" class="sr-only">Email:</label>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required>
    <label for="inputPassword" class="sr-only">Mot de passe:</label>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
    <label for="inputPassword2" class="sr-only">Mot de passe:</label>
    <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Confirmation mot de passe" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btInscrire">S'inscrire</button>
</form>
{% endif %}
{% endblock %}